
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>
    <nav th:replace="layouts :: navbar"></nav>
    <div class="container">
    <div>
    <h4> Current projects</h4>
    <table class="table table-bordered table-stripped">
        <thead class="thead-dark">
            <tr>
                <th>Project Name</th>
                <th>Project stage</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aProject : ${projects}">
                <td th:text="${aProject.name}"></td>
                <td th:text="${aProject.stage}"></td>
            </tr>
        </tbody>
    </table>
    </div>

    <div>
    <h4> Current employees</h4>
    <table class="table table-bordered table-stripped">
        <thead class="thead-dark">
            <tr>
                <th>Employee FirstName</th>
                <th>employee Last name</th>
                <th>Projett count</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employeesListProjectCount}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.projectCount}"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="col-md-4">
        <canvas id="myPieChart" height="50" width="50"></canvas>
        <script>
            var chartData = "[[${projectStatusCount}]]";            
        </script>
    </div>
    </div>
    <script type="text/javascript" th:src="@{js/myChart.js}"></script>
</body>
</html>