    
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>
    <nav th:replace="layouts :: navbar"></nav>

    <div class="container">
    <h4> Current employees</h4>
    <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">New employee</a>
    <table>
        <thead>
            <tr>
                <th>Employee FirstName</th>
                <th>employee Last name</th>
                <th>employee email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>